
 /* Sacado de https://codepen.io/fronthendrik/pen/RYOVzP */
.shadow {
    &:before, &:after {
      content:'';
      position: absolute;
      top:-2px;
      left:-2px;
      width:calc(100% + 4px);
      height:calc(100% + 4px);
      background: linear-gradient(
        45deg, 
        #fb0094, 
        #0000ff, 
        #00ff00, 
        #ffff00, 
        #ff0000, 
        #fb0094, 
        #0000ff, 
        #00ff00, 
        #ffff00, 
        #ff0000
      );
      background-size: 400%;
      z-index:-1;
      animation: shadow 24s linear infinite;
    }
    
    &:after {
      top:-8px;
      left:-8px;
      width:calc(100% + 16px);
      height:calc(100% + 16px);    
      filter:blur(24px);
      opacity:0.9;
    }    
  }
  .card-body{
    background-color: $white;
  }
  .card-title, .card-text {
    text-align: center;
  }
  
  .block {
    position: relative;
    width: 25vw;
    height: 25vw;
  }
  
  @keyframes shadow {
    0% {
      background-position: 0 0;
    }
  
    50.01% {
      background-position: 200% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
  
  .card {
    &.black {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      width: 22rem;
      height: auto;
    }
  
    &.blue {
      width: 20rem;
      box-shadow: -2px -2px 15px 2px rgb(0, 255, 191), 2px 2px 15px 2px blue;
    }
  
    &.violet {
      width: 22rem;
      box-shadow: $primaryViolet -2px 2px, rgba(240, 46, 170, 0.3) -5px 5px, rgba(240, 46, 170, 0.2) -7px 7px, rgba(240, 46, 170, 0.1) -10px 10px, rgba(240, 46, 170, 0.05) -12px 12px;
     }
  }
  .card:hover{
    scale: (1.025);
    transition: all 0.2s;
  }
  .card.black{
 &.violetc{
  box-shadow: rgba(225, 0, 255, 0.87) 0px 4px 6px -1px, rgb(235, 0, 129) 0px 2px 4px -1px;
 }
 &.bluec{
  box-shadow: rgba(17, 0, 255, 0.87) 0px 4px 6px -1px, rgb(0, 132, 255) 0px 2px 4px -1px
 }
 &.aqua{
  box-shadow: rgba(0, 238, 255, 0.87) 0px 4px 6px -1px, rgb(0, 94, 235) 0px 2px 4px -1px;
 }
 &.grey{
  box-shadow: rgba(99, 97, 98, 0.87) 0px 4px 6px -1px, rgb(27, 27, 27) 0px 2px 4px -1px;
 }
 &.orange{
  box-shadow: rgba(255, 136, 0, 0.87) 0px 4px 6px -1px, rgb(61, 42, 1) 0px 2px 4px -1px;
 }
 &.red{
  box-shadow: rgba(255, 17, 0, 0.87) 0px 4px 6px -1px, rgb(165, 30, 12) 0px 2px 4px -1px;
 }
  }

  