section {
    justify-content: center;
    align-items: center;
  }
  
  .image-us {
    width: auto;
  }
  
  .about-title {
    color: blueviolet;
    margin-top: 100px;
    font-size: 4rem;
  }
  
  .about-text {
    color: gray;
    font-size: 2rem;
  }
  .img-fluid.card.blue{
    margin-top: 2rem;
  }
  