@font-face {
    font-family: Inter;
    src: url(../../fonts/Inter/Inter-Bold.ttf);
    font-family: InterLight;
    src: url(../../fonts/Inter/Inter-Light.ttf);
    font-family: Dosis;
    src: url(../../fonts/Dosis/Dosis-Light.ttf);
  }
  
  li a {
    margin-left: 40px;
    font-family: Inter ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .about-title {
    font-family: InterLight, Dosis 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
