.login-button {
    color: black;
    margin-top: 10px;
    font-family: Inter,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .login {
    padding-left: 10px;
    padding-top: 7px;
    margin-left: 2px;
    height: 0px;
  }
  