@media (max-width: 1200px) {
   .card {
     &.violet {
       width: 19rem;
     }
 
     &.blue, &.black, &.block.shadow {
       width: 16rem;
     }
   }
 }
 
 @media (max-width: 991px) {
   .about-title {
     font-size: 3rem;
     text-align: center;
     margin-bottom: 20px;
   }
 
   .about-text {
    margin-top: 2rem;
    margin-bottom: 1rem;
     text-align: center;
     color: black;
  
   }
 
   .img-fluid.card.blue {
     margin-top: 2rem;
   }
 
   .noflex {
     flex-direction: column;
   }
 
   .card {
     &.violet, &.black, &.block.shadow, &.blue {
       width: 13rem;
     }
   }
 
   .nav-link {
     &.violet, &.violet1, &.violet2, &.violet3 {
       display: none;
     }
   }
   .img-fluid.banner{
    width: 100%;
    max-width: 100%;
    margin-left: 0px;
    padding: 0;
    height: 120;
   }
   .container-fluid.banner{
    padding: 0;
   }
 }
 
 @media (max-width: 463px) {
  .img-fluid.banner{
    height: 200px;
   }
   .card {
     &.blue, &.violet {
       width: 11rem;
     }
 
     &.black, &.block.shadow {
       width: 11rem;
     }
   }
 
   .card-title {
     font-size: 11px;
   }
 
   .card-text, .btn.btn-primary {
     font-size: 15px;
   }
   .footer-row{
    margin: 0.5rem;
   }
  footer h2{
    font-size: 15px;
  }
  .footer-text{
    font-size: 10px;
  }
  .footer-row{
    font-size: 30px;
  }
 }
 
 @media (max-width: 367px) {
   .card {
     &.blue, &.violet, &.black, &.block.shadow {
       width: 8.5rem;
     }
   }
   .footer-text{
    font-size: 10px;
   }
 }
 