footer {
  font-size: 50px;
}

.img-fluid.banner {
  max-width: 70%;
  margin-left: 15%;
}

.container-fluid.banner {
  background-color: #cfe2f0;
}

.logoLogin {
  width: 30px;
}

.logoPage {
  width: 50px;
}

@font-face {
  font-family: Inter;
  src: url(../../fonts/Inter/Inter-Bold.ttf);
  font-family: InterLight;
  src: url(../../fonts/Inter/Inter-Light.ttf);
  font-family: Dosis;
  src: url(../../fonts/Dosis/Dosis-Light.ttf);
}
li a {
  margin-left: 40px;
  font-family: Inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about-title {
  font-family: InterLight, Dosis "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer {
  margin-bottom: 1rem;
}

.footer-text {
  font-size: 15px;
}

footer i {
  margin-bottom: 20px;
  margin-top: 50px;
}
footer p {
  margin-top: 20px;
  margin-bottom: 100px;
}
footer h2 {
  font-size: 30px;
}

footer {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(255, 255, 255) 54%, rgb(214, 214, 214) 100%);
  margin-bottom: 0px;
  margin-top: 15rem;
}

.footer-row {
  margin: 1rem;
}

.navbar.navbar-expand-lg.navbar-light {
  background-color: #cfe2f0;
}

.nav-link.violet3 {
  font-size: 20px;
  color: blueviolet;
}
.nav-link.violet3:hover {
  color: violet;
  transition: all 0.5s;
}
.nav-link.violet3::before {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 83px;
  height: 3px;
  background-color: blueviolet;
  transition: all 0.5s;
}
.nav-link.violet2 {
  font-size: 20px;
  color: blueviolet;
}
.nav-link.violet2:hover {
  color: violet;
  transition: all 0.5s;
}
.nav-link.violet2::before {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 70px;
  height: 3px;
  background-color: blueviolet;
  transition: all 0.5s;
}
.nav-link.violet1 {
  font-size: 20px;
  color: blueviolet;
}
.nav-link.violet1:hover {
  color: violet;
  transition: all 0.5s;
}
.nav-link.violet1::before {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 95px;
  height: 3px;
  background-color: blueviolet;
  transition: all 0.5s;
}
.nav-link.violet {
  font-size: 20px;
  color: blueviolet;
}
.nav-link.violet::before {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 90px;
  height: 3px;
  background-color: blueviolet;
  transition: all 0.5s;
}
.nav-link.violet:hover {
  color: violet;
  transition: all 0.5s;
}
.nav-link.violet:hover::before {
  background-color: violet;
}
.nav-link.violet1:hover::before, .nav-link.violet2:hover::before {
  background-color: violet;
}
.nav-link.font {
  font-size: 20px;
}
.nav-link.font:hover {
  color: blueviolet;
  transition: all 0.5s;
}

/* Sacado de https://codepen.io/fronthendrik/pen/RYOVzP */
.shadow:before, .shadow:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  z-index: -1;
  animation: shadow 24s linear infinite;
}
.shadow:after {
  top: -8px;
  left: -8px;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  filter: blur(24px);
  opacity: 0.9;
}

.card-body {
  background-color: white;
}

.card-title, .card-text {
  text-align: center;
}

.block {
  position: relative;
  width: 25vw;
  height: 25vw;
}

@keyframes shadow {
  0% {
    background-position: 0 0;
  }
  50.01% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.card.black {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 17rem;
  height: auto;
}
.card.blue {
  width: 20rem;
  box-shadow: -2px -2px 15px 2px rgb(0, 255, 191), 2px 2px 15px 2px blue;
}
.card.violet {
  width: 22rem;
  box-shadow: blueviolet -2px 2px, rgba(240, 46, 170, 0.3) -5px 5px, rgba(240, 46, 170, 0.2) -7px 7px, rgba(240, 46, 170, 0.1) -10px 10px, rgba(240, 46, 170, 0.05) -12px 12px;
}

.card:hover {
  scale: 1.025;
  transition: all 0.2s;
}

.card.black.violetc {
  box-shadow: rgba(225, 0, 255, 0.87) 0px 4px 6px -1px, rgb(235, 0, 129) 0px 2px 4px -1px;
}
.card.black.bluec {
  box-shadow: rgba(17, 0, 255, 0.87) 0px 4px 6px -1px, rgb(0, 132, 255) 0px 2px 4px -1px;
}
.card.black.aqua {
  box-shadow: rgba(0, 238, 255, 0.87) 0px 4px 6px -1px, rgb(0, 94, 235) 0px 2px 4px -1px;
}
.card.black.grey {
  box-shadow: rgba(99, 97, 98, 0.87) 0px 4px 6px -1px, rgb(27, 27, 27) 0px 2px 4px -1px;
}
.card.black.orange {
  box-shadow: rgba(255, 136, 0, 0.87) 0px 4px 6px -1px, rgb(61, 42, 1) 0px 2px 4px -1px;
}
.card.black.red {
  box-shadow: rgba(255, 17, 0, 0.87) 0px 4px 6px -1px, rgb(165, 30, 12) 0px 2px 4px -1px;
}

.btn.btn-primary {
  border-radius: 10px;
  text-align: center;
  background-color: black;
  border-style: none;
}
.btn.btn-primary:hover {
  background-color: blueviolet;
}
.btn.btn-primary.blue:hover {
  background-color: aqua;
}
.btn.btn-primary.red:hover {
  background-color: red;
}
.btn.btn-primary.white:hover {
  background-color: gray;
}
.btn.btn-primary.orangered:hover {
  background-color: orangered;
}
.btn.btn-primary.orange:hover {
  background-color: orange;
}
.btn.btn-primary.multicolor:hover {
  background: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
}

.login-button {
  color: black;
  margin-top: 10px;
  font-family: Inter, "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.login {
  padding-left: 10px;
  padding-top: 7px;
  margin-left: 2px;
  height: 0px;
}

@keyframes scaleTransition {
  from {
    scale: 0.75;
  }
  to {
    scale: 1;
  }
}
@keyframes transition {
  from {
    opacity: 0%;
    transform: translateY(-20px);
    transform: translateX(20px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
    transform: translateX(0);
  }
}
.container.nosotros {
  animation: transition 1s;
}

section {
  justify-content: center;
  align-items: center;
}

.image-us {
  width: auto;
}

.about-title {
  font-size: 5rem;
  color: blueviolet;
  margin-bottom: 4rem;
}

.about-text {
  color: rgb(0, 0, 0);
  font-size: 4rem;
}

.img-fluid.card.blue {
  margin-top: 2rem;
}

.buttom-image {
  margin-top: 10rem;
}

.scale:hover {
  scale: 1.02;
  transition: 1s;
}

.scale {
  animation: scaleTransition 0.75s;
}

@media (max-width: 1200px) {
  .card.violet {
    width: 19rem;
  }
  .card.blue, .card.black, .card.block.shadow {
    width: 16rem;
  }
}
@media (max-width: 991px) {
  .about-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
  }
  .about-text {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: black;
  }
  .img-fluid.card.blue {
    margin-top: 2rem;
  }
  .noflex {
    flex-direction: column;
  }
  .card.violet, .card.black, .card.block.shadow, .card.blue {
    width: 13rem;
  }
  .nav-link.violet, .nav-link.violet1, .nav-link.violet2, .nav-link.violet3 {
    display: none;
  }
  .img-fluid.banner {
    width: 100%;
    max-width: 100%;
    margin-left: 0px;
    padding: 0;
    height: 120;
  }
  .container-fluid.banner {
    padding: 0;
  }
}
@media (max-width: 463px) {
  .img-fluid.banner {
    height: 200px;
  }
  .card.blue, .card.violet {
    width: 11rem;
  }
  .card.black, .card.block.shadow {
    width: 11rem;
  }
  .card-title {
    font-size: 11px;
  }
  .card-text, .btn.btn-primary {
    font-size: 15px;
  }
  .footer-row {
    margin: 0.5rem;
  }
  footer h2 {
    font-size: 15px;
  }
  .footer-text {
    font-size: 10px;
  }
  .footer-row {
    font-size: 30px;
  }
}
@media (max-width: 367px) {
  .card.blue, .card.violet, .card.black, .card.block.shadow {
    width: 8.5rem;
  }
  .footer-text {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
